.row
{
  height: 20vh;
  display: block;
  position:relative;
}

.Image
{
  top: 0;
  display: block;
  max-height: 100%;
  position: absolute;
}

.name
{
  height: 100%;
}

.name-text
{
  font-size: 1.5rem;
  height: 100%;
  line-height: 20vh;
  width: 100%;
  text-align: center;
  z-index: 2;
  position: absolute;
}

/* -- Loading screen -- */

.fullsize
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 255, 255, 0.267);
}

.spin
{
  animation: spin-animation 4s infinite linear;
  -webkit-animation: spin-animation 4s infinite linear;

}

@keyframes spin-animation {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes spin-animation {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}