.row
{
  color: black;
  height: 20vh;
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 1vh;
  overflow: hidden;
}

/* --- Card --- */

.card-wrapper
{
  margin: 2vh;
}

.profile-wrapper
{
  z-index: 5;
  padding: 2.5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

.cover-image
{
 height: 100%;
 width: 100%;
 object-fit: cover;
 border: solid white 2px;
}

.cover-wrapper
{
  background-color: rgb(255, 200, 175);
  position: relative;
  height: 25vh;
  width: 100%;
  overflow: hidden;
}

.member-panel-title
{
  font-size:3.5vh;
  font-weight: 900;
  text-shadow: 0px 0px 3px lavenderblush;
}

.card-title
{
  margin-top: 1vh;
}

.profile-image
{
  width: 10vh;
  height: 10vh;
  background-color: lavender;
}

/* -- Loading screen -- */

.fullsize
{
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 255, 255, 0.267);
}

.spin
{
  animation: spin-animation 4s infinite linear;
  -webkit-animation: spin-animation 4s infinite linear;

}

@keyframes spin-animation {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes spin-animation {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}