.padded
{
  display: block;
  z-index: 1;
  width: 100%;
  background-color: rgb(2, 26, 5);
  color: white;
  padding-left: 0 ;
  padding-right: 0 ;

}

.layer
{
  height: 3.33vh;
}



.menu {
  vertical-align: middle;
  position: absolute;
  color:aliceblue;
  right: 0;
  font-size: x-large;
  padding-right: 3.33vh;

}

.title
{
  height: 4vh;
  margin: 1.5em;
}

.title-text
{
  vertical-align: middle;
  text-align: center;
  line-height: 1.15;
  font-size: 2.5rem;
  margin: 0;
}



.sitemap-links
{
  margin-left: 3.5vh;
}

.header
{
  z-index: 5;
}